.navbar {
  text-align: center;
  background-color: #547580;
  color: white;
  height: 75px;
  margin-bottom: 30px;
  border-bottom: solid;
  border-color: #7c252591;
  border-width: 2px;
}

.navbar-brand {
  font-size: 30px;
  font-family: 'Bodoni Moda', serif;
  font-family: 'Roboto Slab', serif;
}
  